:root{
    --cor-primaria: #BF2C7D;
}


body{

    background-size: contain;
    background-repeat: repeat;
    font-size: 0.8em;
    margin: 0;
    letter-spacing: 0.08em;
    line-height: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    background-image: url(../img/fundo3.jpg);
    
}

/* LOGO */

.container_header_hero{
    width: 11em;
    /* height: 4em; */
    margin: auto;
    display: flex;
    padding: 0.49em;
}

.container_header_hero:hover{
    transform: scale(1.2);

}


/*HEADER NAV/ MENU*/

.container{
    display: inline-block;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    background-color: #fff;
    
}

.container_header_nav_ul{
    list-style-type: none;
    text-align: center;
    background-color: var(--cor-primaria);
    padding: 0;
    line-height: 1.8em;
    margin: 0;
    display: block;
    justify-content: space-between;
}

.container_header li:nth-child(3){
    display: none;
}

.container_header_nav_ul a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.4em;
    margin: 0;
    text-transform: uppercase;
    
}

.container_header_nav a:hover{
    background-color: color-mix(in srgb, var(--cor-primaria), #fff 20%);
    transition: 0.3s;
}

/* INICIO / SINOPSE */

.container_main_sinopse{ 
    background-image: url(../img/fundo3.jpg);
    box-sizing: border-box;
    background-size: contain;
    padding: 2em;
}

.container_main_sinopse h1{
    text-transform: uppercase;
    font-weight: bold;
}

.container_main_sinopse p, h1{
    color: var(--cor-primaria);
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
}

/* INICIO / SINOPSE / TRAILER*/

.container_main_button{
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding-top: 2.5em ;

}


.trailer_btn{
    background-color:var(--cor-primaria);
    margin: auto;
    padding: 1.5rem;
    border: none;
    border-radius: 0.5rem;
}

.trailer_btn a{
    color:#fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.trailer_btn:hover{
    background-color: color-mix(in srgb, var(--cor-primaria), #fff 20%);
    transition: 0.3s;
}


.container_main_iframe{
    aspect-ratio: 16;
    display: none;
    text-align: center;
    margin: auto;
    padding: 0.8em;

}

/*TEXTO E IMAGEM - BONECA*/

.container_section_boneca{
    padding: 1.5em;
    text-align: left;
    color: var(--cor-primaria);
    background-color: #fff;
}

.container_boneca_img{
    display: none;
}

.container_boneca_img-filme img{
    width: 18em;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    padding: 1em;
    border-radius: 50%;
    width: 7em;
}


/* CARDS / SAIBA MAIS*/
.container_section_cards{
    width: 100%;
    background-color: #C6C4F2;
}

.container_article_cards{
    display: flex;
    flex-direction: column-reverse;
    background-color: #C6C4F2;
    margin: 0;
    margin-bottom: 2em;

}


.container_article_cards img:hover{
    transform: scale(1.2);
}
.container_article_text{
    line-height: 1.3em;
    letter-spacing: 0.1em;
    margin: auto;
    text-align: center;
    width: 100%;
    color: #fff;
}

.btn_cards{
    background-color:var(--cor-primaria);
    margin: auto;
    margin-bottom: 2em;
    padding: 0.8em;
    border: none;
    border-radius: 0.5rem;
}

.btn_cards a{
    color:#fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.btn_cards:hover{
    background-color: color-mix(in srgb, var(--cor-primaria), #fff 20%);
    transition: 0.3s;
}


/*FILMES DE ANIMAÇÃO*/
.container_section_animacao{
    display: none;
}


/*ATRIZ / MARGOT ROBBIE*/
.margot_robbie {
    color:var(--cor-primaria);
    background-size: cover;
    text-align: center;
    padding: 0.5em;
}


.container_section_atriz img{
    display: none;
}

/*FOOTER*/
footer{
    text-align: center;
    color:var(--cor-primaria);
    background-color: #fff;
}


@media screen and (min-width: 768px) {
    .container_header{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .container_header_nav_ul{
        display: flex;
        justify-content: space-between;
        gap: 3em;
        margin: auto;
        margin-right: 3em;
        background-color: #fff;
    }

    .container_header_nav_ul a{
        color: var(--cor-primaria);
        border: 0.1em solid var(--cor-primaria);
        border-radius: 0.5em;
        padding: 0.8em;
    }

    .container_header_nav_ul a:hover{
        color: #fff;
        background-color: var(--cor-primaria);
    }

    .container_main_button{
        display: none;
    }

    .container_main_iframe{
    /* display: flex; */
    aspect-ratio: 16/9;
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 0.8em;
    border-radius: 2em;

}
    .container_boneca_img{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
}


    .container_article_cards{
    margin: 2em;
    text-align: center;
    align-content: center;

}
    .container_section_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin: auto;
    margin-bottom: 3em;
    }

    .container_section_atriz img{
        display: inline-flex;
        width: 12.5em;
        height: 11.87em;
        border-radius: 50%;
        border: 0.2em solid var(--cor-primaria);
        margin-right: 3em;
    }

    .container_section_atriz{
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 3em;


    }
    .margot_robbie p{
        text-align: left;
    }
}


@media screen and (min-width: 1024px) {

    header{
        font-size: 1.3em;
    }
    main{
        font-size: 1.8em;
        line-height: 1.6em;
        background-color: #fff;
    }

    .container_header li:nth-child(3){
        display: block;
    }


    .container_section_boneca{
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    margin: 0;
    padding-top: 6em;
    padding-bottom: 6em;
}

    .container_article_cards:nth-child(1){
        display: none;
    }


    .container_article_cards{
    margin: 1em;
    padding: 1em;
    align-content: center;
    width: 80%
    
    
}
    .container_article_cards p{
        font-size: 0.8em;
        
    }
.container_section_cards{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 1em;
    margin: auto;
    margin-bottom: 3em;
    align-content: center;
    
    }


    .container_section_animacao_color{
        background-color: #fff;
    }


    .container_section_animacao{
        background-color: #fff;
        display: inline;
        margin: 2em;
        text-align: center;
        color: var(--cor-primaria);
        width: 80%;
        font-size: 0.8em;
    }

    .container_img img:hover{
        transform: scale(1.2);
    }

    .container_img img{
        width: 7em;
        height: 9em;
        margin: 0.7em .5em;
        border-radius: 50%;
        border: 0.2em solid #C6C4F2;
    }

    .margot_robbie{
        text-align: center;
        margin: 0;
        padding: 1em;
        background-image: url(../img/fundo3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container_section_atriz{
        display: inline-block;
        font-size: 1em;
        line-height: 1.6em;
        letter-spacing: 0.012em;
        align-content: center;
        margin: 0;
        
    }

    .container_section_atriz img{
        width: 400px;
        height: 250px;
        border-radius: 2em;
        margin: auto;
    }

}

